@import '../../utils/theme.scss';

.container {
  background: $PageBg;
  width: 100vw;
  height: 100vh;
  .list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
