@import '../../utils/theme.scss';

.container {
  padding-top: 106px;
  .search {
    width: 100%;
    margin-top: -106px;
    position: fixed;
    z-index: 999;
  }
  .item_list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
