@import '../../utils/theme.scss';
.container {
  .avatar_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .avatar_prompt {
      font-size: 20px;
      color: $BlackL;
      margin: 20px 0;
    }
    .avatar {
      width: 200px;
      height: 200px;
      margin-top: 30px;
      border-radius: 50%;
      border: 1px solid $White;
    }
  }

  .confirm {
    width: 690px;
    margin: 30px 30px 0 30px;
  }
}
