@font-face {
  font-family: 'iconfont'; /* Project id 3281936 */
  src: url('iconfont.woff2?t=1648483516778') format('woff2'), url('iconfont.woff?t=1648483516778') format('woff'),
    url('iconfont.ttf?t=1648483516778') format('truetype');
}

.icon {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontzhizuobiaozhun023131:before {
  content: '\e685';
}

.icon-sousuo:before {
  content: '\e6b9';
}

.icon-sousuo1:before {
  content: '\e60a';
}

.icon-sousuo2:before {
  content: '\e60d';
}

.icon-my:before {
  content: '\e66f';
}
