@font-face {
  font-family: 'iconfont'; /* Project id 3281936 */
  src: url('iconfont.woff2?t=1648390505926') format('woff2'), url('iconfont.woff?t=1648390505926') format('woff'),
    url('iconfont.ttf?t=1648390505926') format('truetype');
}

.icon {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-my:before {
  content: '\e66f';
}
